.earnings {
  position: fixed;
  width: 100%;
  max-width: inherit;
  bottom: 0;
  text-align: center;
  padding-bottom: 2.5rem;

  &__btn {
    background-color: $color-white;
    font-size: 1.4rem;
    font-weight: 600;
  }
}
