body {
  background-color: $color-grey-1;
}

.page-wrapper {
  max-width: 450px;
  background-color: $color-white;
  margin: auto;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

main {
  margin-top: 24.4rem;
  overflow-y: scroll;
  min-height: calc(100vh - 24.4rem);
}
